tabular_search/__pycache__
tabular_search/__pycache__/__main__.cpython-38.pyc
tabular_search/__pycache__/__main__.cpython-310.pyc
tabular_search/__pycache__/request_engine.cpython-310.pyc
tabular_search.egg-info
chromadb